Package: enigma2-plugin-extensions-tvgarden
Version: 2.6
Section: base
OE: 2.0
License: GPLv3
Priority: optional
Architecture: all
Depends: 
Recommends: 
Maintainer: Lululla
Description: TV Garden Plugin
Source: enigma2-plugin-extensions-tvgarden
Homepage: https://github.com/Belfagor2005/TVGarden


